.content {
    position: relative;
    width: 100%;
}

.content_container {
    position: relative;
    display: flex;
    flex: 1;
    gap: 10px;
    flex-wrap: wrap;

    margin: 10px;
}

@media (max-width:600px) {
    .content_container-withError {
        margin-top: 50px;
    }
}